:root {
    --salmon: rgb(255, 166, 158);
    --yellow: #FAF3DD;
    --green: #B8F2E6;
    --blue: #545a5c;
    --blue-highlight: #545a5c83;
    --grey: #e9e9e9;
    --grey-highlight: #e9e9e970;
    --black: #2D2D34;
    --white: #ffffff;
}

body {
    margin: 0;
    font-family: 'Tillana', cursive;
}

.header {
    background-color: var(--salmon);
    height: 60px;
    padding-left: 30px;
    font-size: 25px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 100vh;
    background-color: var(--blue);
}

.material-symbols-outlined {
    cursor: pointer;
}

.static-list-item {
    display: inline-flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    gap: 20px;
    padding: 10px;
    padding-left: 20px;
    color: var(--grey);
    font-size: 25px;
    align-items: center;

}

.static-list-item:hover {
    background-color: var(--grey-highlight);
}

.nav-static {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}

a {
    text-decoration:none;
    color: var(--grey);
 }

.container {
    display: flex;
    width: 100%;
}

.main {
    flex: 1;
    min-width: 300px;
    background-color: var(--grey);
}

.nav-project-header {
    display:flex;
    margin: 20px;
    margin-top: 40px;
    justify-content: space-between;
    align-items: center;
    color: var(--grey);
    font-size: 20px;
    padding-bottom: 5px;
    border-bottom: 2px solid var(--grey);
}

.active-project:hover{
    background-color: var(--grey-highlight);
}



.active-project {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px 10px 20px;
    font-size: 20px;
    align-items: center
}

.modal-div {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    align-items: center
}


.modal-display {
    position:absolute;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #121e2281
}

.new-project-modal-container {
    display: flex;
    flex-direction: column;
    min-width: 400px;
    margin-top: 180px;
    height: auto;
    background-color: var(--grey);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    color: var(--blue);
}

.modal-title-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    font-size: 20px;
    background-color: var(--salmon);
}

.modal-body, .modal-submit{
    margin: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: var(--);
}

input {
    padding-top: 5px;
    height: 45px;
    padding: 0 12px;
    border: solid 1px var(--black);
    border-radius: 8px;
    color: var(--black);
    -webkit-transition: all .2s;
    transition: all .2s;
}

.modal-submit {
    flex-direction: row;
    justify-content: flex-end;
}

.cancel-button, .submit-button {
    border: solid 1px rgba(0,0,0,.15);
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 6px;
}

.submit-button {
    background-color: var(--salmon);
}

.main {
    padding: 20px;
    color: var(--blue)
}

.project-title { 
    font-size: 25px;
    padding-bottom: 20px;
}

.task-div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 5px;

}

.task-project-name {
    flex: 1;
}

.new-task-div {
    display: flex;
    align-items: center;
    gap: 5px;

}

.task-description {
    margin-top: -10px;
    margin-left: 25px;
    font-size: 12px;
    padding-bottom: 0;
}

.task-div-top {
}

.task-div-top:hover {
    background-color: var(--blue-highlight)
}

.completed {
    position: relative;
}
.completed:after {
    position: absolute;
    z-index: 1;
    content: "";
    left: 5%;
    top: 50%;
    right: 0;
    border-top: 3px solid;
    border-color: inherit;
    text-decoration: line-through;
    
}

.strikethrough {
    text-decoration: line-through;
}

@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Tillana&display=swap');